services:
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  TeamMatePro\TestsBundle\:
    resource: '%kernel.project_dir%/vendor/team-mate-pro/tests-bundle/src/'
